.App {
  text-align: center;
  height: 100%;
  min-height: 100vh;
  background: #151718;
/* background: -moz-linear-gradient(195deg, rgba(32,32,32,1) 0%, rgba(23,25,29,1) 25%);
background: -webkit-linear-gradient(195deg, rgba(32,32,32,1) 0%, rgba(23,25,29,1) 25%);
background: linear-gradient(195deg, rgba(32,32,32,1) 0%, rgba(23,25,29,1) 25%); */
}

@font-face {
  font-family: "NeometricMedium";
  src: url("./fonts/Neometric Alt Light.ttf") format("truetype");
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.header-text {
  color: #ffffff;
}

.my-account {
  color: #ffffff;
  border: 1px solid;
  border-radius: 12px;
  padding: 0 15px;
  position: relative;
  max-width: 180px;
  transition: max-width .3s;
  cursor: pointer;
  font-family: "NeometricMedium";
}

.my-account p {
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.my-account:after {
  content: attr(data-filetype);
  position: absolute;
  left: 100%;
  max-width: 0;
  transition: max-width .3s;
}

.my-account:hover {
  max-width: 71%;
  transition: max-width .4s;
}

.my-account:hover:after {
  display: none;
  transition: max-width .3s;
}

.profil-card {
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  border-radius: 12px;
  width: 300px;
  color: #0F1112;
  background-color: #0F1112;
  /* box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.38); */
  margin-left: auto;
}

.profil-title {
  font-size: 20px;
  font-family: "NeometricMedium";
  font-weight: 800;
  letter-spacing: 2px;
  color: #ffffff;
}

.profil-balance {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.profil-balance-title {
  margin-top: 25px;
  font-size: 15px;
  font-family: "NeometricMedium";
  font-weight: 400;
  letter-spacing: 2px;
  color: #0F1112;
}

.profil-balance-data {
  margin-top: 15px;
  font-size: 15px;
  font-family: "NeometricMedium";
  font-weight: 800;
  letter-spacing: 2px;
  padding: 20px 0;
  border-radius: 12px;
  background-color: #47E6A4;
  width: 100%;
}

.profil-status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.profil-status-title {
  margin-top: 25px;
  font-size: 15px;
  font-family: "NeometricMedium";
  font-weight: 400;
  letter-spacing: 2px;
  color: #0F1112;
}

.profil-status-data {
  margin-top: 15px;
  font-size: 15px;
  font-family: "NeometricMedium";
  font-weight: 600;
  letter-spacing: 2px;
  padding: 20px 0;
  border-radius: 12px;
  background-color: #7CADFD;
  width: 100%;
}

.cards-title {
  font-size: 15px;
  font-family: "NeometricMedium";
  color: #ffffff;
}

.available-cards-title {
  font-size: 15px;
  font-family: "NeometricMedium";
  color: #ffffff;
}

.button-cards-tickets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3%;
}

.button-switch-cards-tickets {
  font-size: 15px;
  font-family: "NeometricMedium";
  font-weight: 600;
  color: #ffffff;
  padding: 10px 15px;
  background-color: none;
  border: 1px solid #ffffff;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.button-switch-cards-tickets:hover {
  font-size: 15px;
  font-family: "NeometricMedium";
  font-weight: 600;
  color: #17191d;
  padding: 10px 15px;
  background-color: #ffffff;
  border: 1px solid #17191d;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.button {
  background-color: #47E6A4;
  width: 250px;
  height: 45px;
  color: #151718;
  font-size: 15px;
  font-weight: 600;
  font-family: "NeometricMedium";
  margin-top: 20px;

}

.form {
  color: #ffffff;
}

.input-form {
  background-color: #151718;
  color: #ffffff;
  font-size: 12px;
  font-family: "NeometricMedium";
  padding: 10px 15px;
  margin-top: 10px;
  border-color: #151718;
}

.input-form::placeholder {
  color: #ffffff;
}

.input-form:hover {
  background-color: #151718;
  color: #ffffff;
  padding: 10px 15px;
  margin-top: 10px;
  border-color: #151718;
}

.input-form:focus {
  background-color: #151718;
  color: #ffffff;
  padding: 10px 15px;
  margin-top: 10px;
  border-color: none;
}

.ant-input:focus {
  border-color: #151718; 
  box-shadow: none; 
}  

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 25px;
  width: 400px;
  border-radius: 12px;
  background-color: #0F1112;
}

.input-group {
  display: flex;
  flex-direction: row;
  gap: 3%;
}

.ant-select-selection-placeholder {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.2px;
  color: #ffffff !important;
}

.ant-picker-input input::placeholder {
  color: #f0f0f0;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}